Repository uburu/autoMarkup, pull requests merged in 2018-05, with the labels that each got.

#5 #1 Added DataHub class and some tests
  .gitignore
  CMakeLists.txt
  autoMarkup/DataHub/DataHub.cpp
  autoMarkup/DataHub/DataHub.hpp
  data/dict.txt
  data/sents.txt
  data/tokens.txt
  example.cpp
  tests/CMakeLists.txt
  tests/run_tests.bash
  tests/tests.cpp
Labels: data hub

#8 Начальная конфигурация TravisCI
  .travis.yml
Labels: enhancement

#10 Изменил структуру проекта с учетом тестов.
  .gitignore
  CMakeLists.txt
  autoMarkup/CMakeLists.txt
  autoMarkup/dataStructs.cpp
  main.cpp
  tests.cpp
  tests/CMakeLists.txt
  tests/DataHub/DataHubTests.cpp
  tests/DataHub/DataHubTests.hpp
  tests/DictHandler/DictHandlerTests.cpp
  tests/DictHandler/DictHandlerTests.hpp
  tests/Markup/MakupTests.cpp
  tests/Markup/MakupTests.hpp
  tests/Tokenizer/TokenizerTests.cpp
  tests/Tokenizer/TokenizerTests.hpp
  tests/run_tests.bash
Labels: enhancement

#16 Добавил Markup
  CMakeLists.txt
  autoMarkup/CMakeLists.txt
  autoMarkup/Markup/CosCounter.cpp
  autoMarkup/Markup/CosCounter.hpp
  autoMarkup/Markup/Markup.cpp
  autoMarkup/Markup/Markup.hpp
  autoMarkup/Markup/Types.hpp
  main.cpp
  tests.cpp
Labels: markup

#20 #3. Markup
  .gitignore
  .travis.yml
  CMakeLists.txt
  README.md
  inc/common/exceptions.hpp
  inc/common/not_implemented_exception.hpp
  inc/common/types.hpp
  inc/markup/README.md
  inc/markup/abstract_markup_factory.hpp
  inc/markup/cos_words_comparator.hpp
  inc/markup/fast_markup.hpp
  inc/markup/markup.hpp
  inc/markup/markup_factory.hpp
  inc/markup/sentence_convolution.hpp
  inc/markup/sentence_sum_convolution.hpp
  inc/markup/sequential_markup.hpp
  inc/markup/words_comparator.hpp
  src/CMakeLists.txt
  src/main.cpp
  src/markup/cos_words_comparator.cpp
  src/markup/markup_factory.cpp
  src/markup/sentence_sum_convolution.cpp
  test/CMakeLists.txt
  test/fakeit/fakeit.hpp
  test/markup/main.cpp
  test/markup/test_cos_words_comparator.hpp
  test/markup/test_markup.hpp
  test/markup/test_markup_factory.hpp
  test/markup/test_sentence_sum_convolution.hpp
Labels: markup

#30 CI: GCC + Clang + MSVC
  .appveyor.yml
  inc/markup/fast_markup.hpp
  inc/markup/sequential_markup.hpp
  test/CMakeLists.txt
  test/markup/main.cpp
Labels: enhancement
